#!/usr/bin/make -f
export DH_VERBOSE = 1
# Ensure Go 1.26 (from ppa:longsleep/golang-backports) is used rather than
# Ubuntu Noble's system Go 1.22, which is too old for kitty.
export PATH := /usr/lib/go-1.26/bin:$(PATH)
export GOCACHE = /tmp/kitty-go-cache
export GOFLAGS = -mod=vendor

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	mkdir -p fonts
	cp debian/fonts/SymbolsNerdFontMono-Regular.ttf fonts/
	tar -xf debian/vendor.tar.gz
	tar -xf debian/pip-packages.tar.gz
	PYTHONPATH="$(CURDIR)/pip-packages" \
		python3 setup.py --ignore-compiler-warnings linux-package

override_dh_auto_install:
	mkdir -p debian/kitty/usr
	cp -r linux-package/bin   debian/kitty/usr/
	cp -r linux-package/lib   debian/kitty/usr/
	cp -r linux-package/share debian/kitty/usr/

override_dh_auto_test:

override_dh_strip:
	dh_strip --no-automatic-dbgsym
